<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>название вкладки</title>
        <style>
            .h2-text {
                color: red
            }
        </style>
    </head>
    <body>
        <div>
            <h1 id="h1-text">самый большой заголовок</h1>
            <h2 class="h2-text">заголовок чуть поменьше</h2>
            <h6 class="h2-text">самый маленький заголовок, меньше уже быть не может</h6>
            <p>просто текст, <span style="color: green">параграф</span></p>
            <a href="https://playwright.dev/" target="_blank">Playwright</a>
            <img alt="browsers.png" src="https://playwright.dev/img/logos/Browsers.png" style="width: 200px">
            <ul>
                <li>элемент ненумерованного списка 1</li>
                <li>элемент ненумерованного списка 2</li>
                <li>элемент ненумерованного списка 3</li>
            </ul>
            <ol>
                <li>элемент нумерованного списка 1</li>
                <li>элемент нумерованного списка 2</li>
                <li>элемент нумерованного списка 3</li>
            </ol>
            <form action="/action" method="POST">
                <input type="text" value="abc" placeholder="placeholder">
                <input required type="email" placeholder="email">
                <input type="password" placeholder="password">
                <textarea required placeholder="placeholder">12345</textarea>
                <button type="submit" disabled>кнопка</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <td>ячейка 1</td>
                        <td>ячейка 2</td>
                        <td>ячейка 3</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>строка 1</td>
                        <td>строка 2</td>
                        <td>строка 3</td>
                    </tr>
                    <tr>
                        <td>строка 1</td>
                        <td>строка 2</td>
                        <td>строка 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>